In [2]:
#Session #1 Homework

import pandas as pd
import numpy as np

In [4]:
#Question 1
#What's the version of NumPy that you installed?

np.__version__

#Ans: '1.20.1'

'1.20.1'

In [6]:
#Question 2
#What's the version of Pandas?

pd.__version__

#Ans: '1.2.4'

'1.2.4'

In [28]:
df =pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [27]:
#You can do it with wget:

#Data == https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

#Question 3
#What's the average price of BMW cars in the dataset?

df[df['Make']=='BMW'].MSRP.mean()

#Ans:61546.76347305389

61546.76347305389

In [40]:
#Question 4

#Select a subset of cars after year 2015 (inclusive, i.e. 2015 and after).
#How many of them have missing values for Engine HP?

df[df.Year >= 2015]['Engine HP'].isnull().sum()


#Ans: 51

51

In [76]:
#Question 5
#Calculate the average "Engine HP" in the dataset.
#Use the fillna method and to fill the missing values in "Engine HP" with the mean value from the previous step.
#Now, calcualte the average of "Engine HP" again.
#Has it changed?
#Round both means before answering this questions. You can use the round function for that:

mean_hp_before = df['Engine HP'].mean()
mean_hp_before

249.38607007176023

In [75]:
df['Engine HP'].fillna(mean_hp_before)
mean_hp_after = df['Engine HP'].fillna(0).mean()
mean_hp_after

247.94174920261878

In [71]:
#Ans:
print(round(mean_hp_before))
print(round(mean_hp_after))

249
248

In [96]:
#Question 6

#Select all the "Rolls-Royce" cars from the dataset.
#Select only columns "Engine HP", "Engine Cylinders", "highway MPG".
#Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 7 rows).
#Get the underlying NumPy array. Let's call it X.
#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
#Invert XTX.
#What's the sum of all the elements of the result?
#Hint: if the result is negative, re-read the task one more time


df_rr = df[df['Make']=='Rolls-Royce']
df_rr = df_rr[["Engine HP", "Engine Cylinders", "highway MPG"]]
df_rr = df_rr.drop_duplicates()
df_rr

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

In [101]:
X = df_rr.values
XTX = X.T.dot(X)

XTX_inv = np.linalg.inv(XTX)
XTX_inv.sum()

#Ans:0.03221232067748617

0.03221232067748617

In [103]:
#Questions 7

#Create an array y with values [1000, 1100, 900, 1200, 1000, 850, 1300].
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
#What's the value of the first element of w?.
#Note: You just implemented linear regression. We'll talk about it in the next lesson.

y= [1000, 1100, 900, 1200, 1000, 850, 1300]
w = XTX_inv.dot(X.T).dot(y)
w[0]

0.19989598183185642