# Session #1 Homework

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib 
import seaborn as sns
import warnings

## Question 1

What's the version of NumPy that you installed?

You can get the version information using the `__version__` field:

In [2]:
numpy_version = np.__version__

print(f'numpy Version = {numpy_version}')

numpy Version = 1.21.5

Answer : numpy Version = `1.21.5`

## Getting the data:


For this homework, we'll use the Car price dataset. Download it from here.

You can do it with wget:
`wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv`

In [15]:
df = pd.read_csv('homework_data.csv')
df.head(5)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

## Question 2:

How many records are in the dataset?

Here you need to specify the number of rows.

* 16     
* 6572   
* 11914  
* 18990

In [4]:
df.shape[0] #shape[0] function returns no of rows in a dataframe

11914

Answer : This dataset contains `11914 rows`

## Question 3

Who are the most frequent car manufacturers (top-3) according to the dataset?

* Chevrolet, Volkswagen, Toyota  
* Chevrolet, Ford, Toyota   
* Ford, Volkswagen, Toyota  
* Chevrolet, Ford, Volkswagen

In [5]:
df['Make'].value_counts().head(5) #value_counts() function can be used to get most frequent value in a pandas column

Chevrolet     1123
Ford           881
Volkswagen     809
Toyota         746
Dodge          626
Name: Make, dtype: int64

Answer: Chevrolet , Ford , Volkswagen

## Question 4

What's the number of unique Audi car models in the dataset?

* 3
* 16
* 26
* 34

In [6]:
df_Audi = df[['Make','Model']].copy()           # created a separate df with 'Make' and 'Model' Columns
df_Audi = df_Audi.loc[df_Audi['Make']== 'Audi'] # Filtered 'Audi' in the 'Make' column

In [7]:
df_Audi['Model'].nunique() #nunique() function returns the no of unique values in a seriesb

34

Answer : There are `34` unique Audi car models in the dataset

## Question 5

How many columns in the dataset have missing values?

* 5
* 6
* 7
* 8

In [28]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

Answer: `5 Columns` (Engine Fuel Type = 3 , Engine HP = 69, Engine Cylinders= 30, Market Category = 3742 ,Number of Doors = 6)

## Question 6

1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

Hint: refer to existing mode and median functions to complete the task.

* Yes
* No

In [37]:
# 1. median value of "Engine Cylinders"

df['Engine Cylinders'].median()

6.0

In [38]:
# 2. most frequent value

df['Engine Cylinders'].value_counts().head(3)

4.0    4752
6.0    4489
8.0    2031
Name: Engine Cylinders, dtype: int64

In [56]:
# 3. filling the missing values with median value

df['Engine Cylinders'].fillna(4, inplace = True)

In [57]:
# Calculating median value of "Engine Cylinders" again

df['Engine Cylinders'].median()

6.0

Answer : `Median` Has not changed

## Question 7

1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Compute the inverse of XTX.
6. Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
7. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
8. What's the value of the first element of w?
9. Note: You just implemented linear regression. We'll talk about it in the next lesson.

* -0.0723
* 4.5949
* 31.6537
* 63.5643

In [51]:
# 1 - Select "Lotus" cars from the dataset

df_Lotus = df.loc[df['Make']== 'Lotus']
df_Lotus = df_Lotus[['Make','Engine HP','Engine Cylinders']].copy()
df_Lotus.head(5)

       Make  Engine HP  Engine Cylinders
3912  Lotus      189.0               4.0
3913  Lotus      218.0               4.0
3914  Lotus      189.0               4.0
3915  Lotus      189.0               4.0
3916  Lotus      218.0               4.0

In [67]:
# 2 - Selected only columns "Engine HP", "Engine Cylinders"

df_Lotus_copy = df_Lotus[['Engine HP','Engine Cylinders']].copy()

In [75]:
# 3 - drop all duplicated rows

df_Lotus_copy = df_Lotus_copy.drop_duplicates() 

# 4 - Variable X with unique rows

X = df_Lotus_copy.values
X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [76]:
# 5 - Compute matrix-matrix multiplication between the transpose of X and X , 
# To get the transpose, use X.T. Let's call the result XTX. Compute the inverse of XTX.

XTX = X.T.dot(X)
inv_XTX = np.linalg.inv(XTX)

In [79]:
# 6 -Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

y = np.array([1100,800,750,850,1300,1000,1000, 1300,800])

# 7 -Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w

w = inv_XTX.dot(X.T).dot(y)
w[0].round(4)

4.5949

Answer : 4.5949